#tentang-kami{
    padding-top:35px;
    font-size: 1rem;
    columns: $secondary;

    h5{
        padding-right: 1rem;
        border-bottom: 1px solid $gray-400;
        margin-right: .5rem;
    }
}
