#tentang-kami{
    padding-top:35px;
    font-size: 1rem;
    columns: $secondary;

    h5{
        border-top: 2px solid $gray-500;
        font-weight: 800;
        margin-bottom: 1.5rem;
        color: $secondary;

        span {
            font-size: 24px;
            margin-top: -18px;
            position: absolute;
            background-color: #EDFAFD;
            padding-right: 1rem;
        }
    }
}
